<div class="container-fluid">
  <app-bookmarks></app-bookmarks>
  <div class="dashboard" fxLayout="row" fxLayoutGap="15px">
    <div fxFlex="33%" fxLayout="column">
      <app-widget title="Github PRs">
        <app-pull-request *ngFor="let i of [1,2,3,4,5,6]"></app-pull-request>
      </app-widget>
      <div class="break"></div>
      <app-widget title="Jira">
        <app-jira *ngFor="let i of [1,2,3,4,5,6]"></app-jira>
      </app-widget>
    </div>
    <div fxFlex="33%" fxLayout="column">
      <h4 style="text-align: center" class="card-title">Time</h4>
      <app-widget title="Whether">

      </app-widget>
      <app-widget title="Top Sites" *ngIf="topSites.length">
        <div class="list-group">
          <a [href]="site.url" class="list-group-item list-group-item-action disabled" *ngFor="let site of topSites">
            {{ site.title }}
          </a>
        </div>
      </app-widget>
    </div>
    <div fxFlex="33%" fxLayout="column">
      <app-widget title="Shopping list">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-star"></i> Bay a item-1</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Bay a item-2</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Bay a item-3</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Bay a item-4</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Bay a item-5</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Bay a item-6</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Bay a item-7</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Bay a item-8</li>
        </ul>
      </app-widget>
      <div class="break"></div>
      <app-widget title="ToDo">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-star"></i> Do something-1</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Do something-2</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Do something-3</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Do something-4</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Do something-5</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Do something-6</li>
          <li class="list-group-item"><i class="fa fa-star-o"></i> Do something-7</li>
          <li class="list-group-item"><i class="fa fa-star"></i> Do something-8</li>
        </ul>
      </app-widget>
    </div>
  </div>

</div>
