<div ngbTooltip="create blah-blah-blah Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi consequatur cumque hic magni provident temporibus veritatis? Architecto assumenda commodi corporis cumque doloremque enim illum nemo, porro saepe tempora vero!" container="body" placement="bottom">
  <a href="#">#1234 feat: create blah-blah-blah Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi consequatur cumque hic magni provident temporibus veritatis? Architecto assumenda commodi corporis cumque doloremque enim illum nemo, porro saepe tempora vero!</a>
</div>
<div>
  <p>by @sshaman1101 opened 15 hrs ago</p>
</div>
